/*p {
    font-size: ;
    color: black;
    font-family: sans-serif;
}*/

/*.username {
    color: #fff;/*color of text in padding*/
/*    padding: 2px 4px;/*2px is the height of the padding and 4px is the width of it*/
/*    margin-right: 2px;/*makes any element on the right of it space away*/
/*    background-color: #000;/*background-color of text padding*/
/*    border-radius: 4px;/*makes sides curvy */
/*}*/